version: "3.8"

services:
  db:
    container_name: mysql
    image: mysql
    environment:
      MYSQL_PASSWORD: Rohith@2006
      MYSQL_DB: mydatabase
    ports: "5000:5000"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - flask-db-net
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s


  flask:
    build:
      context: .
      dockerfile: dockerfile
    volumes:
      - ./static:/app/static
    container_name: flask-app
    environment:
      MYSQL_HOST: 127.0.0.1
      MYSQL_USER: root
      MYSQL_PASSWORD: Rohith@2006
      MYSQL_DB: mydatabase
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    networks:
      - flask-db-net
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s

volumes:
  mysql-data:

networks:
  flask-db-net: